{{ define "main" }}
{{ partial "page-header" . }}

<section class="section pt-6 mt-0 pb-16">
  <div class="container">
    <div class="mt-6 mb-12">
      {{ partial "components/content-contribute-cta.html" (dict
      "icon" "solid comments"
      "title" "Join the <span class=\"gradient-text\">Conversation</span>"
      "description" "The Application Lab community runs on collaboration. Join our WhatsApp groups, connect with us on Instagram or LinkedIn, drop into an event, or share your insights on the blog. Every bit of involvement helps students move closer to their goals."
      "link" "https://linktr.ee/theapplicationlab"
      "link_text" "Join Our Community"
      ) }}
    </div>


    {{/* Display the new guide cards */}}
    <div class="row gx-5 gy-8">
      {{ range .Params.sections }}
        <div class="{{ .column }} mb-6 last:mb-0 md:mb-0">
          {{/* Updated partial call to pass page_context */}}
          {{ partial "components/guide-card.html" (dict
              "title" .title
              "url" .url
              "icon" .icon
              "description" .description
              "key_areas" .key_areas
              "cta_text" .cta_text
              "page_context" $.Page
          )}}
        </div>
      {{ end }}
    </div>


  </div>
</section>
{{ end }} 